@page "/sandbox"
@using Engine

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Sandbox</p>
<label for="program">Program:</label><br />

<InputTextArea @bind-Value="@program" rows="4"></InputTextArea>

<hr />
<button class="btn btn-primary" @onclick="RunProgram">Run!</button>
<textarea>@result</textarea>

@code {
	private Interpreter interpreter = new();
	private string program = "type your program here...";
	private string result = "nothing happened yet.";
	private void RunProgram() {
		result = interpreter.Run(program);
	}
}
